{% extends 'base.html.twig' %}

{% block title %}Nous contacter - My Shop{% endblock %}

{% block content %}
<h1>Nous contacter</h1>
<p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais</p>

        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">
            {{ message }}
            </div>
        {% endfor %}
        
<div class="row">
    <div class="col-md-8">

        {{ form(form) }}

    </div>
    <div class="col-md-4">
        <strong>My Shop</strong>
        <hr>
        06 10 20 30 40 <br>
        56 rue des jonquilles, 29000 Quimper <br>
        contact@myshop.fr
    </div>
</div>


{% endblock %}
